body {
    background: linear-gradient(45deg,#333333, #020f52, #10111e,#041539,#474747,#333333 );
    padding: 0%;
    margin: 0%;
    animation: gradientAnimation 5s ease infinite;
    background-size: 200% 200%;
} 
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
header{
    display: flex;
    background: linear-gradient(to right,#333333, #5b5b5b, #474747,#333333  );
    backdrop-filter:blur(7px);
    box-shadow:2px 5px 33px #879ccacc;
    border-radius: 30px;
    margin: 20px;
}
.clock {
    display: flex;
    gap: 5px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    margin: 9px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
  }
  .digit {
    position: relative;
    width: 1ch;
    overflow: hidden;
  }
  .digit::after {
    content: attr(data-value);
    display: block;
    animation: scroll 10s linear infinite;
  }
  @keyframes scroll {
    0%, 10% { transform: translateY(0); }
    20%, 30% { transform: translateY(-100%); }
    40%, 50% { transform: translateY(-200%); }
    60%, 70% { transform: translateY(-300%); }
    80%, 90% { transform: translateY(-400%); }
    100% { transform: translateY(-500%); }
  }

.logo{
    width: 8%;
}
.logos {
    display: flex;
    gap: 10px;
    margin: 12px;
}
.logo {
    width: 30px;
    height: 30px;
    object-fit: contain; 
}
.logos img {
    margin: 0;
}
header .clock {
    margin: 0 auto;
    margin-left: 48%;
}
.datos {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    margin-top: 8%;
}
.perfil {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
}
.perfil img {
    width: 130px; 
    height: 130px;
    object-fit: cover;
    border-radius: 50%; 
}
h1 {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 0px;
    text-shadow: 2px 2px 15px #96acdd;
}
h4{
    font-size: 1rem;
    margin: 0;
    margin-bottom: 20px;
    color: #96acdd;
    text-shadow: 2px 2px 15px #96acdd;
}
.selector {
    width: 300px;
    display: flex;
    flex-direction: column; 
    gap: 30px; 
}
.selector a {
    text-decoration: none;
    font-size: 1.5rem;
    background: linear-gradient(to right,#333333, #333333, #333333,#333333 );
    box-shadow:1px 1px 12px #879ccacc;
    text-shadow: 2px 2px 15px #96acdd;
    padding: 10px 20px;
    border-radius: 8px;
    color: #96acdd;
    transition: background-color 10s ease;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center
}

.selector a:hover {
    background-color: #357e3f; 
    box-shadow:2px 5px 33px #80eef0cc;

}
.logo1{
    width: 50px;
    height: 40px;
    margin-left: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
    object-fit: contain; 
}
.logo3 {
    width: 900px;
    height: 250px;
    margin-top: 1%;
    margin-left: 8%;
    object-fit: contain; 
}
footer {
    text-align: center;
    margin-top: 20px;
}

footer img {
    max-width: 100%; 
    height: auto;
}